/* You can add global styles to this file, and also import other style files */

/*
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
*/

/*
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/omega/theme.css";
*/

body {
  margin: 0;
}

.cell-right .mat-column- { justify-content: flex-end; }



/* Snack bar */

.blue-snackbar {
  background: #2196F3;
}

.red-snackbar {
  background: #F44336;
}
